.navbar{
    padding: 1.5%;
    background-color: #218380;
    color: white;
}
.quesbox {
  background-color:#ffff;
  position: absolute;
  height: 50%;
  width: 60%;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  box-shadow: 14px 5px 5px #777777;
  border-radius: 40px;
  flex-wrap: wrap;
  border: solid #777777;
  text-align: left;
}
.questext{
    padding: 4%;
    padding-top: 3%;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #218380;
    border-radius: 15px;
    padding: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #234668;
    cursor: pointer;
    margin-bottom: 1%;
  }
  button:hover{
  transform: scale(0.95);
  }
  .quescount
  {
      font-weight: bold;
      padding-left: 4%;
      padding-top: 2%;
  }
  .answers{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 12px;
  }
  .scoresection{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      padding: 10% 0 0 0;
  }